{% extends "base.html" %}
{% load static %}
{% block headextend %}
  <link rel="stylesheet" href="{% static 'assets/datatables/data-tables.bootstrap4.min.css' %}">
{% endblock%}
{% block content %}
<section class="section-table cid-rGvBlHX7OL" id="table1-n">
  <div class="container container-table">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
      Aktivitetskalender
    </h2>

    <div class="table-wrapper">
      <div class="container">
        <div class="row search">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="dataTables_filter">
              <label class="searchInfo mbr-fonts-style display-7">Søg:</label>
              <input class="form-control input-sm" disabled="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container scroll">
        <table class="table isSearch" cellspacing="0">
          <thead>
            <tr class="table-heads ">
              <th class="head-item mbr-fonts-style display-7">Region</th>
              <th class="head-item mbr-fonts-style display-7">By</th>
              <th class="head-item mbr-fonts-style display-7">Klasse</th>
              <th class="head-item mbr-fonts-style display-7">Dato</th>
            </tr>
          </thead>
          <tbody>
          {% for activity in object_list %}
            <tr>
              <td class="body-item mbr-fonts-style display-7">{{activity.region}}</td>
              <td class="body-item mbr-fonts-style display-7">{{activity.city}}</td>
              <td class="body-item mbr-fonts-style display-7">{{activity.rank}}</td>
              <td class="body-item mbr-fonts-style display-7">{{activity.date}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container table-info-container">
        <div class="row info">
          <div class="col-md-6">
            <div class="dataTables_info mbr-fonts-style display-7">
              <span class="infoBefore">Viser</span>
              <span class="inactive infoRows"></span>
              <span class="infoAfter">elementer</span>
              <span class="infoFilteredBefore">(soteret fra</span>
              <span class="inactive infoRows"></span>
              <span class="infoFilteredAfter"> elementer)</span>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scriptextend %}
  <script src="{% static 'assets/datatables/jquery.data-tables.min.js' %}"></script>
  <script src="{% static 'assets/datatables/data-tables.bootstrap4.min.js' %}"></script>
{% endblock %}